---
import { Image } from "astro:assets"

import DendrobateLogo from "../images/dendrobate.svg"
import { EdLCalendarDrawerTrigger } from "./EdLCalendarDrawerTrigger"
---

<header id="top" class="relative z-10 bg-transparent">
  <div class="container p-3 pt-7 pb-0 mx-auto">
    <h1
      class="text-white text-6xl text-center -z-10"
      style={{
        textShadow: `
          0 0 7px #dc2626,
          0 0 10px #450a0a,
          0 0 21px #450a0a,
          0 0 42px #450a0a,
          0 0 82px #450a0a,
          0 0 92px #450a0a,
          0 0 102px #450a0a,
          0 0 151px #450a0a`,
      }}
    >
      <a href="/">
        The Dendrobate Doctor<Image
          alt="logo"
          src={DendrobateLogo}
          class="max-w-24 absolute -left-12 top-0 -z-10"
          style={{ filter: "drop-shadow(0.5rem 0.5rem 0.25rem rgb(0 0 0 / 0.4))" }}
        />
      </a>
    </h1>
    <div class="flex w-full justify-end">
      <EdLCalendarDrawerTrigger client:load />
    </div>
  </div>
</header>
