---
import KissKissBankBankLogo from "../images/KissKissBankBank.svg"
---

<a href="https://www.kisskissbankbank.com/fr/projects/the-dendrobate-doctor"
  ><KissKissBankBankLogo class="inline" fill="currentColor" /> (https://www.kisskissbankbank.com/fr/projects/the-dendrobate-doctor)
</a>
